{% extends '::base.html.twig' %}
{% block bodyclass %}showroom-page{% endblock %}

{% block title %}
Seleziona i Servizi che offri
{% endblock %}

{% block javascript %}
    {% javascripts
        '@ESOperatoriBundle/Resources/public/js/editServizi.js'
     %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block javascript_inline %}
    servizi_massimi = {{ servizi_massimi }};
    function fineModifica() {
        window.location = '{{ path('op_sr_my') }}';
    }
{% endblock %}
        
{% block javascript_ready %}
    $('.on-edit').show();
    $('.on-show').hide();
    $.backstretch("/bundles/esweb/images/bg_generic.jpg", {speed: 1500});
{% endblock %}
    
{% block content %}
<div class="listing-filter-top">
</div>
<section id="header-tab" class="relative">
    {% include 'ESOperatoriBundle:Ajax:Preventivi/servizi/intestazione.html.twig' %}
</section>
<section class="fixed-width box no-border shadow clearfix rounded-5 no-padding padding-top-5" id="tab_container">
    {% include 'ESOperatoriBundle:Ajax:Preventivi/servizi/dragdrop.html.twig' with {'showroom': showroom, 'open': showroom.serviziSr|length > 0, 'action' : path('op_sr_servizi_save')} %}
</section>
{% endblock %}