<form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password" id="form_modifica_password_profilo">
    {{ form_widget(form) }}
    <div>
        <input type="submit" />
    </div>
</form>
