{% set header_preset = 'ebusiness' %}
{% set footer = 'ebusiness' %}
{% set menu_marker = 'webadvertising' %}
{% extends "::base.html.twig" %}
{% block bodyclass %}showroom-page{% endblock %}

{% block javascript %}
    {% javascripts
           %}   
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block javascript_ready %}
    $.backstretch("/bundles/esweb/images/bg_generic.jpg", {speed: 1500});
    marker_pos('#menu_webadvertising');
{% endblock %}
    
{% block content %}
    <section id="header-tab" class="relative clear">
        <div class="fixed-width clearfix">
            <h2 class="text-shadow">Obiettivi - Aumentare il numero di utenti qualificati sul tuo sito web</h2>
            <h3 class="text-shadow">Servizi e consulenze di web marketing e advertising per aumentare il numero degli utenti sul proprio sito</h3>
        </div>
    </section>
    <section class="fixed-width box no-border rounded-5-left shadow clearfix">
        <section class="corporate no-border clearfix  no-padding padding-top-10 padding-bottom-10 margin-top-10">
            <section class="coldx left no-margin margin-left-10">
                {% include 'ESWebBundle:Ebusiness:obiettivi/commons/subMenu.html.twig' %}
            </section>
            <section class="colsx right no-margin margin-right-10">
                <p>Se hai già  sviluppato un sito web aziendale performate e funzianale, adesso devi poter conquistare  una <strong>corretta visibilità  online</strong> a sostegno della tua iniziativa di business online<em> (e-business)</em>.</p>
                <p>I metodi per poter realizzare quest'obiettivo sono essenzialmente:</p>
                <ul class="dot">
                    <li><strong>Un contesto web  &quot;piacevole&quot; agli utenti ed ai motori di ricerca </strong><br>
                        <em>(SEM -Search Engine Marketing)</em></li>
                    <li><strong>Un corretto posizionamento online </strong><br>
                        <em>(SEO - Search Engine Optimization)</em></li>
                    <li><strong>Una campagna pubblicitaria studiata in funzione di costi ed obiettivi e conversioni.</strong><br>
                        <em>(ROI - Ritorno dall'investimento)</em></li>
                </ul>
                <p> A questo scopo possiamo fornire <strong>consulenze, strategie e metodi evoluti</strong> per <strong>aumentare  il traffico sul tuo sito web, ed al contempo</strong> evidenziare  i punti deboli del tuo <strong>business online,</strong> correggerli, ed aiutari a portare il tuo e-business in una situazione di equilibrio e controllato. </p>
                <div class="spacer twenty"></div>
                <div class="tips-adm shadow rounded-3">
                    <div class="ribbon_tips"></div>
                    <em>"Smettere di fare pubblicità  per risparmiare soldi è come fermare l'orologio per risparmiare tempo."<br>
                        <small>Henry Ford, fondatore Ford Motor Company </small>
                </div>
                <p>Migliorariamo la tua<strong> visibilità   nei motori di ricerca e trasformare le visite in vendite</strong> <em>(conversioni da utente ad acquirente) </em>e ti aiutiamo a <strong> conquistare nuovi visitatori,</strong> <strong>aumentare  gli utenti</strong> e <strong> contatti,</strong> <strong>e guadagnare  di pià¹ dalle conversioni</strong>.</p>
                <p> <strong>Una volta acquisite le prime  posizioni sui motori di ricerca,  monitoriamo costantemente l'andamento del tuo sito web e della campagna pubblicitaria in funzione dei tuoi obiettivi.</strong></p>
                <h3>Cosa  possiamo fare per te?</h3>
                <ul class="dot">
                    <li><strong>Consulenze preliminari e valutazioni sul tuo sito web e sulla campagna pubblicitaria online</strong>
                    <li><strong>Migliorare il tuo contesto web per aumtare le performance e l'usabilità </strong> <br>
                        <em>(Studio interfaccia ed archittettura dell'informazione)</em>
                    <li> <strong>Definire gli obiettivi  su cui veicolare gli utenti </strong>(Studio di canalizzazione)
                    <li> <strong>Ottimizzazione SEO </strong>(ottimizzazione per i motori ricerca) del sito web
                    <li><strong>Sviluppare e applicare strategie di Search Engine Marketing (SEM) per primeggiare sui motori di ricerca.</strong>
                    <li> <strong>Migliorare la  link  popularity</strong> <em>(popolarità  dei  link del tuo sito su altri contesti web esterni) </em>
                    <li><strong>Pianificare la tua campagna pubblicitaria online </strong>
                    <li><strong>Gestire con successo la tua campagna pubblicitaria online </strong>
                    <li><strong> Assistenza e aggiornamento </strong>
                    <li><strong>Gestione in full-outsourcing del tuo contesto web e della campagna pubblicitaria. </strong>
                </ul>
            </section>
        </section>
    </section>
{% endblock %}