{# permette di togliere il baloon di login quando non necessario #}
{% set show_login = false %}
{% extends "::base.html.twig" %}
{% block javascript %}
{% javascripts
    '@SNWebBundle/Resources/public/js/validate/jquery.validate.js'   %}   
    <script src="{{ asset_url }}"></script>
{% endjavascripts %}

{# traduzione degli avvisi di jquery validate #}    
<script src="{{ asset('bundles/snweb/js/localization/messages_'~app.request.locale~'.js') }}" type="text/javascript"></script>
{% endblock %}
{% block bodyclass %}splash{% endblock %}
{% block content %}
<div id="utility-area">
    <div id="sub-header-bar" class="pattern">   
        <div class="wrapper" >
            <div id="photo-frame">
                <div id="form-reg">
                     {% render 'FOSUserBundle:Registration:register' %}   
                </div>
            </div>
            <div class="title-head" >
                <h3>{{'titolo_ripeti_login'|trans({},'ESUserBundle')|raw }}</h3>
                <div id="config">
                    <div class="form-section">
                        {% render "ESUserBundle:Login:login" %}
                    </div>
                </div>
            </div>
            <div class="hr bevel"></div>
            <div class="title-head" >
                <h3>{{'password_dimenticata'|trans({},'ESUserBundle')|raw }}</h3>
                <div id="config">
                    <div class="form-section">
                        {#Resetting password#}
                        {% render "ESUserBundle:Resetting:request" %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{%endblock%}