{% if modificabile %}
    <div class="clearer ten"></div>
    <article class="fixed-width padding-10 rounded-5 gradient-orange shadow relative">
        <strong>MODIFICA SHOWROOM</strong>
    </article>
    <div class="clearer ten"></div>
{% endif %}
