<div id="status_invito" style="display:none"></div>
<form class="p_input" id="form_invito" onsubmit="return false;">
    <p>Email da invitare</p>
    <input type="text" name="invito_rubrica[email_destinatario]" id="email_invito_rubrica" placeholder="Email destinatario" class="placeholder small rounded-5" value="" />
    <div class="form-alert"></div>
    <div class="clearer ten"></div>
    <p>Nome</p>
    <input type="text" name="invito_rubrica[nome]" id="nome_invito_rubrica" placeholder="nome" class="placeholder small rounded-5" value="" />
    <div class="clearer ten"></div>
    <p>Cognome</p>
    <input type="text" name="invito_rubrica[cognome]" id="cognome_invito_rubrica" placeholder="cognome" class="placeholder small rounded-5" value="" />
    <div class="clearer ten"></div>
    <p>Nome Azienda</p>
    <input type="text" name="invito_rubrica[nome_azienda]" id="azienda_invito_rubrica" placeholder="Nome Azienda" class="placeholder small rounded-5" value="" />
    <div class="clearer ten"></div>      
    <button type="submit" class="button-orange smaller relative" id="submit_invito_rubrica"><strong>invita</strong></button>
</form>
