{##
 # Titolo principale della pagina
 #
 # Parametri obbligatori:
 #
 # 'title': titolo della pagina
 #}
<ul id="home-title">
    <li class="title-app"><a href="{{ path('homepage') }}"><h1 class="cerindex">{{ title }}</h1></a></li>
</ul>