{##
 # Titolo principale della pagina
 #
 # Parametri obbligatori:
 #
 # 'title': titolo della pagina
 #}
<ul id="home-title">
    <li class="title-app left"><a href="{{ path('homepage') }}"><h1 class="cermaps">{{ title }}</h1></a></li>
    {#<li class="left margin-top-5 margin-left-5"><h2 class="text-shadow-down normal"><small> - Il modo più veloce per trattare rifiuti sul web</small></h2></li>#}
</ul>