{##
 # Titolo principale della pagina
 #
 # Parametri obbligatori:
 #
 # 'title': titolo della pagina
 #}
<ul id="redirect">
    <li class="title-app"><a href="http://www.ecoseekr.it"><h1>EcoSeekr</h1></a></li>
</ul>