 <section class="left" style="width: 288px; margin-right: -288px;">
    <article class="lps-tab no-margin">
        <section class="tab-content-listing tab-content-lps" id="tab-cer">
            <h4 class="padding-3">{{ rifiuto.rifiuto }}</h4>
            <article class="margin-top-10">
                <h4 class="cer-class padding-3 rounded-3">Categoria</h4>
                <p class="padding-3 margin-bottom-10">{{ categoria.nome|capitalize }}</p>
            </article>
            <article class="margin-top-10">
                <h4 class="cer-class padding-3 rounded-3">Altri recuperabili di questa categoria</h4>
                <div class="masonry clearfix margin-top-5">
                {% for pagina in rifiuti %}
                    <a href="{{ path('es_'~route~'_rifiuto', {'slug': pagina.slug}) }}" class="box-light rounded-3 gradient-medium left tags">{{ pagina.rifiuto }}</a>
                {% endfor %}
                </div>
            </article>
        </section>
    </article>
</section>