{% if header_preset is not defined %}
    {% set header_preset = 'base' %}
{% endif %}
{% if menu_marker is not defined %}
    {% set menu_marker = 'cermap' %}
{% endif %}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        <meta name="description" content="{% block description %}Social B2B per Professionisti, Aziende ed Organizzazioni di energia, ambiente, rifiuti e materie prime seconde{% endblock %}">
        <meta name="keywords" content="{% block keyword %}keyword{% endblock %}">
        <!-- ottimizzazione layout smartphone -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
        <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
        <!--[if IE 9]><meta http-equiv="X-UA-Compatible" content="IE=9" /><![endif]-->
        <!--[if IE 8]><meta http-equiv="X-UA-Compatible" content="IE=8" /><![endif]-->
        {% include ":parts:javascript.html.twig" %}
        {% include ":parts:stylesheets.html.twig" %}
        {% block javascript %}{% endblock %}
        <script type="text/javascript">
            <!--
            var ac_target = '#baloon-login > section';
            var ut_target = '#baloon-user-tools > section';
            var db_target = '#baloon-dashboard-tools > section';
            var ru_target = '#baloon-contact-tools > section';
            
            {#% include 'ESWebBundle::routes.js.twig' %#}
            
            {% block javascript_inline %}{% endblock %}
                
            $(document).ready(function() {
                $.backstretch("/bundles/esweb/images/index/bg-index.jpg", {speed: 2000});
            
                {% block javascript_ready %}{% endblock %}
            });
            // -->
        </script>
        {% block fix_ie %}{% include ':parts:ie_fixer.html.twig' %}{% endblock %}
        <style type="text/css">
            .clearfix:after {
                content: ".";
                display: block;
                height: 0;
                clear: both;
                visibility: hidden;
            }
        {% block css_inline %}{% endblock %}
        </style>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body id="index-page" >
        {% block header %}
        {% include ':parts:header/index.html.twig' with {'header_preset': header_preset, 'splash': true} %}
        {% endblock %}
        {% block extra_content %}{% endblock %}
        <h2 class="absolute  text-white text-shadow text-center" style="left: 50%; top: 15%; width: 800px; margin-left: -400px;">A partire da giugno 2013 online con la nuova versione, torna a trovarci.</h2>
        <h1 id="logo" class="anim" style="margin-top: 30px !important">EcoSeekr</h1>
        <section id="content-cerindex" class="anim">
            <div class="exception-message">
                <h2 class="index-tagline margin-20">Il modo più veloce per smaltire, recuperare e riciclare rifiuti sul web</h2>
                {% block content %}{% endblock %}
            </div>
        </section>
        <section id="clouds"></section>
        <section id="cloud"></section>
    </body>
</html>
