{% extends "::base.html.twig" %}
{#% extends "FOSUserBundle::layout.html.twig" %#}

{% block content %}
    {% block fos_user_content %}
        <section class="margin-10" >
            <section class="fixed-width padding-10 clearfix gradient-light shadow rounded-5" style="width: 450px;">
                <h3>{{ 'resetting.password_already_requested'|trans({}, 'FOSUserBundle') }}</h3>
            </section>
        </section>
    {% endblock fos_user_content %}
{% endblock content %}
