{% set header_preset = 'ebusiness' %}
{% set footer = 'ebusiness' %}
{% set menu_marker = 'webadvertising' %}
{% extends "::base.html.twig" %}
{% block bodyclass %}showroom-page{% endblock %}

{% block javascript %}
    {% javascripts
           %}   
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block javascript_ready %}
    $.backstretch("/bundles/esweb/images/bg_generic.jpg", {speed: 1500});
    marker_pos('#menu_webadvertising');
{% endblock %}
    
{% block content %}
    <section id="header-tab" class="relative clear">
        <div class="fixed-width clearfix">
            <h2 class="text-shadow">Campagne pubblicitarie online basate sulle performance</h2>
            <h4 class="text-shadow normal">Sviluppo, monitoraggio e gestione di campagne pubblicitarie marketing performance<br>sui principali affiliate network per la promozione dei siti web</h4>
        </div>
    </section>
    <section class="fixed-width box no-border rounded-5-left shadow clearfix">
        {% include 'ESWebBundle:Ebusiness:webadvertising/commons/subMenuTab.html.twig' %}
        <section class="corporate no-border clearfix  no-padding padding-top-10 padding-bottom-10 margin-top-10">
            <section class="coldx left no-margin margin-left-10">
                {% include 'ESWebBundle:Ebusiness:webadvertising/commons/subMenu.html.twig' %}
                {% include 'ESWebBundle:Ebusiness:obiettivi/commons/subMenu.html.twig' %}
            </section>
            <section class="colsx right no-margin margin-right-10">
                <p>Oltre alle camapange  pubblicitarie basate sul costo di ogni singolo click <em>(in gergo, pay-per-click ed in acronimo PPC)</em> <strong>in alcuni casi le tecnolgie internet rendono possibile l'attuazione di campagne pubblicitarie e marketing basate sulle performance. </strong></p>
                <p>In sostanza, non sono si paga il singolo click eseguito sul tuo annuncio pubblicitario <em>(come accade in Google)</em>, <strong>ma si paga solamente il partner tecnologico selezionato per la gestione della pubblicità  quando e se un utente</strong> <em>- che  ha cliccato su un banner pubblicitario - </em><strong>si registra nel tuo sito, compie un'azione preventivata su un'obiettivo oppure se esegue un'acquisto</strong>. </p>
                <h3>A quali obiettivi mira una campagna Pay per Performance (PPP)</h3>
                <ul class="dot">
                    <li>Incrementare le vendite</li>
                    <li>Genreare le lead (iscrizioni sul tuo sito)</li>
                    <li>Portare traffico qualificato (in target)</li>
                    <li>Estendere il brand awareness</li>
                </ul>
                <h3>In quali casi sono più indicate le campagne PPP</h3>
                <p><strong>Le campagne basate sul modello  pay-per-performance (PPP)  prevedono investimenti e tempi di attuazione più elevati (rispetto alle campagne PPC) e necessitano di modalità  di attivazione molto più laboriose. </strong></p>
                <p>Inoltre, le campagne pay-per-performance (PPP) richiedono che il contesto web, su cui veicolano nuovi potenziali clienti<strong>, debba essere ottimizzato per trasformare e monitorare ogni singola visita</strong> <em>- proveniente dai siti partner che ospitano la tua pubblicità  - </em>in una vendita o un'azione da parte dell'utente,<strong> poichè in funzione della quale al partner tecnologico che ospita la tua pubblicità  è riconosciuto un <em>&quot;success fee&quot; </em></strong><em>(premio in denaro o provvigione sulla vendita fatta generare sul tuo sito).</em></p>
                <p>E'  importante comprendere da subito che,<strong> non tutti i siti web possono accedere a questo tipo di pianificazione pubblicitaria </strong>che è maggiormente indicata <em>(visto i costi più elevati di set-up iniziale)</em> a chi intende eseguire una campagna pubblicitaria su vasta scala o che comunque dispone di budget pubblicitari  programmati per medio e lungo periodo.</p>
                <h3>Cosa possiamo fare per la tua campagna pubblicitaria basata sulle performance</h3>
                <ul class="dot">
                    <li>Individuiamo insime gli obiettivi e studiamo la concorrenza</li>
                    <li>Valutiamo insime le  soluzioni di remunerazione, gli investimetni ed individuiamo gli obiettivi.</li>
                    <li>Selezioniamo le offerte tra quelle proposte dai nostri partner tecnologici <em>(Affiliate Network)</em></li>
                    <li>Pianifichiamo integralemente la tua campagna pubblicitaria e selezioniamo i siti web ed i portali dove dovranno comparire i tuoi annunci</li>
                    <li>Elaboriamo un modello previsionale basato sul tasso di conversione ed il valore della vendita media con cui monitorare il ROI ed evidenziare i driver di costo e ricavo.</li>
                    <li>Progettiamo le tue creatività  <em>(banner, annunci e video pubblicitari)</em> e le diffondiamo ai parteners tecnologici curandone l'aggiornamento</li>
                    <li>Gestiamo per tuo conto tutti i rapporti con i canali pubblicitari e gli affiliate network al fine di ottenere le migliori performance</li>
                    <li>Gestiamo e apportiamo modifiche al tuo contesto web <em>(se necessario)</em></li>
                </ul>
            </section>
        </section>
    </section>
{% endblock %}