<section class="title_dashboard clearfix gradient-lightmedium padding-10">
    <p class="breadcrumbs neutro" style="top: 4px;"><a href="{{ path('es_mps_categorie') }}"><span class="mps shadow" title="Indice MPS">MPS</span></a><strong> Trova, acquista o vendi Materie Prime Seconde (MPS)</strong></p>
    <form style="position: absolute; top: 8px; right: 8px;" onsubmit="return false;">
        <section class="search-mess-area clearfix">
            <input type="text" id="q_lps" class="placeholder" name="q_lps" value="" placeholder="Cerca una Materia Prima Seconda">
        </section>
    </form>
</section>
<div class="clearer ten"></div>