<ul class="corporate-menu">
    <li><a href="{{ path('webAdvertisingIntro') }}" >Introduzione al web-advertising</a></li>
    <li><a href="{{ path('campagneGoogle') }}" >Campagne pubblicitarie<br>Google Adwords</a></li>
    <li><a href="{{ path('campagneOnline') }}" >Campagne pubblicitarie online</a></li>
</ul>