<section class="margin-left-10">
    <div class="reg step1">
        <p><strong><em>Compila il modulo<br>ed invia la tua richiesta online.</em></strong></p>
    </div>
    <div class="reg step2">
        <p><strong><em>La tua richiesta viene inviata alle<br>aziende autorizzate e accreditate.</em></strong></p>
    </div>
    <div class="reg step3">
        <p><strong><em>Ricevi immediatamente risposte e quotazioni dai nostri operatori.</em></strong></p>
    </div>

    <div class="clearer ten"></div>
    <div class="hr-light"></div>
    <div class="clearer ten"></div>

    <h4>Rapido, efficace, sicuro</h4>
    <div class="reg step4">
        <p>Invia la tua richiesta di smaltimento o pronto soccorso ambientale per ricervere una <strong>risposta entro 24 ore</strong> da un operatore professionale.</p>
    </div>

    {#<div class="clearer ten"></div>
    <div class="hr-light "></div>
    <div class="clearer ten"></div>
    
    <h4 class="margin-bottom-10">Pronto intervento ambientale</h4>
    <p class="">Contatta il nostro centralino per richiedere un intervento da un operatore ambientale specifico sul  tuo sito di intervento.</p>
    <p class="margin-10 numero-verde no-text">800 144 764</p>#}
</section>