<div class="fixed-width clearfix">
    <h2 class="text-shadow"><span class="normal">Gestione Codici CER di </span>{{ showroom.ragionesociale }}</h2>
    <button class="button-orange smaller" onclick="window.location='{{ path('op_sr_my') }}'">torna allo showroom</button>
</div>