{##
 # Menu cermap
 #}
<ul class="header_submenu clearfix left">
    <li class="rounded-3 hover" onclick="window.location.href='{{ path('es_cer_classi') }}'">Indice Cer</li>
    <li class="rounded-3 hover" onclick="window.location.href='{{ path('es_recnp') }}'">Recuperabili non pericolosi</li>
    <li class="rounded-3 hover" onclick="window.location.href='{{ path('es_recp') }}'">Recuperabili pericolosi</li>
    <li class="rounded-3 hover" onclick="window.location.href='{{ path('es_mps_categorie') }}'">Materie Prime Seconde</li>
</ul>
