{##
 # ESEMPIO DI MENU GENERATO A MANO
 #}
<ul class="header_submenu clearfix left">
    <li class="rounded-3 hover" onclick="window.location.href='/'">Ricerca operatori per smaltimento e recupero</li>
    <li class="rounded-3 hover" onclick="window.location.href='/it/marketplace'">Indice Materie Prime</li>
    <li class="rounded-3 hover" onclick="window.location.href='/it/bacheca-domande-e-discussioni'">Indice Rifiuti Recuperabili</li>
    <li class="rounded-3 hover" onclick="window.location.href='/it/bacheca-domande-e-discussioni'">Codice CER</li>
</ul>
