<li><h3 class="title gradient-lightmedium">Cosa vuoi fare?</h3></li>
<li><a href="javascript: void(0);" onclick="window.location.href='#'">Vendi prodotti e servizi</a></li>
<li><a href="javascript: void(0);" onclick="window.location.href='#'">Trova e offri lavoro</a></li>
<li><a href="javascript: void(0);" onclick="window.location.href='#'">Fai una domanda, discuti e proponi</a></li>
<li><a href="javascript: void(0);" onclick="window.location.href='#'">Proponi un progetto o un idea</a></li>
<li><a href="javascript: void(0);" onclick="window.location.href='#'">Pubblica news e comunicati stampa</a></li>
<li><a href="javascript: void(0);" onclick="window.location.href='#'">Strumenti e applicazioni</a></li>