<section class="coldx-listing" id="discussione-list">
    <section class="message-topic " >
        <section class="col-desc left clearfix relative">
            {% include 'EcoSeekrMessengerBundle:Messenger:newMessage/form.html.twig' %}
        </section>
        {#<section class="col-info right" id="col_dx_info">
            <article class="fixed clearfix">
                <h4>Archivio allegati</h4>
            </article>
        </section>#}
    </section>
</section>
<script type="text/javascript">
setIntestazione('<span class="rdi info-rdo"> Scrivi il tuo messaggio</span>', '');
</script>
