{% set header_preset = 'ebusiness' %}
{% set footer = 'ebusiness' %}
{% set menu_marker = 'ebusiness' %}
{% extends "::base.html.twig" %}
{% block bodyclass %}showroom-page{% endblock %}

{% block javascript %}
    {% javascripts
           %}   
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block javascript_ready %}
    $.backstretch("/bundles/esweb/images/bg_generic.jpg", {speed: 1500});
    marker_pos('#menu_ebusiness');
{% endblock %}
    
{% block content %}
    <section id="header-tab" class="relative clear">
        <div class="fixed-width clearfix">
            <h2 class="text-shadow">{{ 'menu.lavora_con_noi'|trans({}, 'menu') }}</h2>
            <h4 class="text-shadow normal">{{ 'menu.curriculum'|trans({}, 'menu') }}</h4>
        </div>
    </section>
    <section class="fixed-width box no-border rounded-5-left shadow clearfix">
        {% include 'ESWebBundle:Ebusiness:ebusiness/commons/subMenuTab.html.twig' %}
        <section class="corporate no-border clearfix  no-padding padding-top-10 padding-bottom-10 margin-top-10">
            <section class="coldx left no-margin margin-left-10">
                {% include 'ESWebBundle:Ebusiness:ebusiness/commons/subMenu.html.twig' %}
                {% include 'ESWebBundle:Ebusiness:obiettivi/commons/subMenu.html.twig' %}
            </section>
            <section class="colsx right no-margin margin-right-10">
                <h2>Sviluppo contesti e soluzioni per il business to business (B2B)</h2>
                <h3>Evolute strategie di comunicazione e web marketing a supporto della comuicazione intergrata</h3>
                <p><strong>Piccole e medie imprese</strong> <em>- attraverso le tecnologie ed internet -</em> possano migliorare i rapporti con i propri fornitori, i partner o il mercato in modo semplice ed evoluto.<strong> Tramite l'utilizzo di una piattaforma web B2B, l'impresa aumenta sensibilmente la connettività ed il passaggio di informazioni con il proprio contesto esterno.</strong></p>
                <p><strong>Tutti i flussi informativi relativi a ricerca e sviluppo, vendite, import/export, pubbliche relazioni e altri sono presidiati e monitorati mentre allo stesso tempo vengono ricevute le informazioni ed i segnali dai propri partner e fornitori incamerando le conoscenze provenienti dall'esterno;</strong> tra queste sono compresi i deboli segnali che consentono di comprendere, possibilmente in tempo utile, le modifiche al mercato che si realizzeranno in un prossimo futuro.</p>
                <h3>Alcune funzionalità del modello business to business</h3>
                <ul class="dot">
                    <li>Interagire, discutere e confrontarti in modo organizzato con i tuoi partner o fornitori.</li>
                    <li>Gestire la comunicazione sull'innovazione dei tuoi prodotti e servizi</li>
                    <li>Gestire la comunicazione integrata della tua azienda </li>
                    <li>Programmare  corsi, eventi e meeting.</li>
                    <li>Sviluppare e supportare gruppi di lavoro.</li>
                    <li>Vendere o acquistare </li>
                    <li>Altre interessanti funzionalità. </li>
                </ul>
                <h3>Principali obiettivi del modello business to business (B2B)</h3>
                <ul class="dot">
                    <li>Mantenere alto il livello di fiducia e lealtà con i propri partner e fornitori.</li>
                    <li>Elevare la conoscenza (verso i proprio prodotti) da parte di partenes e fornitori</li>
                    <li>Monitorare il mercato attraverso l'esame delle tendenze e dei segnali.</li>
                    <li>Aumenatare le capacità competive e produttive. </li>
                    <li>Aumentare la forza del proprio marchio attraverso il presidio dei propri clienti e fornitori (<a href="#">Brand Awarness</a>).</li>
                </ul>
                <h3>A chi &egrave; destinato il servizio</h3>
                <ul class="dot">
                    <li>Operatori di mercato industriale</li>
                    <li>Operatori di mercato di consumo</li>
                    <li>Distretti industriali </li>
                    <li>Poli industriali</li>
                    <li>Gruppi di lavoro</li>
                    <li>Enti e pubblica amministrazione</li>
                </ul>
                <div class="clearer twenty"></div>
                <div class="tips yellow">
                    <p>Le aziende che agiscono nei business web hanno generalmente le  loro catene del valore integrate in internet per raggiungere maggiore  efficienza nelle operazioni e sviluppare vantaggi di posizionamento. Alcune volte internet modifica fortemente ilo modello di  business seguito, in altri casi lo completa. Si tratta ovviamente di scelte.</p>
                </div>
            </section>
        </section>
    </section>
{% endblock %}