{# <div class="slide-out-div" style="display: none;">
    <div class="handle-help hover gradient-red text-shadow shadow rounded-5-top text-white" id="handle_debug" href="javascript:void(0);"><img class="bug" src="/bundles/esweb/images/icone/bugs_big_slide.png" alt="segnala un'errore"><span>Segnala un errore</span><img class="beta" src="/bundles/esweb/images/icone/icon_beta.png" alt="segnala un'errore"></div>
    <div class="feedback-content gradient-light shadow">
        
        <h2 class="margin-bottom-5">Aiutaci a migliorare CerMaps!</h2>
        <p class="margin-bottom-10">La versione (beta) è sperimentale ed il tuo contributo è prezioso.</p>
        <p class="margin-bottom-10">Se vuoi segnalarci un'errore o <strong>contribuire con i tuoi suggerimenti</strong> inviaci subito il tuo commento!</p>
        <p class="margin-bottom-10">Scrivi a: <a href="mailto:feedback@cermaps.com?subject=Segnalazione di errore o miglioramento da feedback Ecoseekr">feedback@cermaps.com</a></p>
        <p class="note">Prova a fornire una descrizione di quello che ti è successo ed informazioni sul tuo sistema operativo, il browser (Explorer, Safari, ecc), la risoluzione del tuo schermo ecc..</p>
    </div>
</div> #}