<!--<div id="repeat_trip" class="slide-out-div-tour" style="display: none;">
    <div class="handle-help hover gradient-blue text-shadow shadow rounded-5-top text-white" id="handle_debug" href="javascript:void(0);"><img class="replay" src="/bundles/esweb/images/icone/replay.png" alt="Avvia il tour guidato"><span>Tour</span></div>
</div>-->