{% if showroom.telefono or showroom.cellulare or showroom.fax or showroom.email or showroom.emailPec or showroom.sito %}
    <div class="clearer forty"></div>
    <p class="text-lightblue" style="font-size: 14px;">Contatti</p>
    <div class="clearer"></div>
    <div class="hr-light margin-top-5 margin-bottom-5"></div>
    <div class="clearer"></div> 
    <div class="relative">
        <section class="form_sede">
            <div class="relative text-block" id="sr_contatti">
                {% include 'ESOperatoriBundle:Showroom:home/contatti/contatti.html.twig' %}
            </div>
        </section>
    {% if modificabile %}
        {#  url è la action dentro HomeController che restituisce il form
            target è l'id dove bverra renderizzato il form 
        #}
        {% include 'ESOperatoriBundle:Showroom:commons/edit.html.twig' with {'url': path('op_sr_form_contatti'), 'target': 'sr_contatti'} %}
    {% endif %}
    </div>
{% endif %}


