<li><a href="{{ path('collabora_con_noi')|replace({'/app_cersite.php': 'http://www.ecoseekr.it'}) }}">{{ 'menu.rivenditore'|trans({}, 'menu') }}</a></li>
{#<li><a href="{{ path('collabora_con_noi')|replace({'/app_cersite.php': 'http://www.ecoseekr.it'}) }}">{{ 'menu.collaborazioni'|trans({}, 'menu') }}</a></li>#}