<div class="clearer ten"></div>
<div class="hr bevel-img"></div>
<article id="op-choice" class="no-border rounded-5 padding-3 margin-top-10 op-choice">
    <h4 class="padding-3">Scegli l'operatore</h4>
    <p class="padding-3">Seleziona l’operatare che preferisci per inoltrare una richiesta di smaltimento o informazioni.</p>
</article>
<div id="rdoRequest" class="no-display">
    <p class="padding-5">Hai selezionato:</p>
    <article class="box-rdo-listing no-border rounded-5 padding-3 shadow-rdopanel margin-top-10">
        <div class="arrow-up a-white a-right " style="top: -8px;"></div>
        <ul class="token-input-list-facebook no-border max-width relative">
        </ul>
    </article>
    <div class="rdoRequest margin-top-10">
        <button class="button-orange max-width" onclick="$('.send-rdo').trigger('click');">Conferma e invia richiesta &raquo;</button>
        <a class="send-rdo" style="display: none;" href="{{ action }}"></a>
    </div>
</div>
<div class="clearer ten"></div>
<div class="hr bevel-img"></div>
<div class="clearer ten"></div>
