<li><a href="{{ path('ebusinessIntro')|replace({'/app_cersite.php': 'http://www.ecoseekr.it'}) }}" >CerMaps<small> - Powered by Google</small></a></li>
<li><a href="{{ path('ebusinessIntro')|replace({'/app_cersite.php': 'http://www.centrosmaltimentorifiuti.it'}) }}" >Centro Smaltimento Rifiuti</a></li>
<li><a href="{{ path('ebusinessIntro')|replace({'/app_cersite.php': 'http://www.ecoseekr.it'}) }}" >Campagne pubblicitarie EcoSeekr</a></li>