{% set header_preset = 'cerform' %}
{% set footer = 'none' %}
{% set titolo_app = 'centro_coordinamento' %}
{% set menu_marker = 'ccsri' %}
{% extends '::base.html.twig' %}

{% block title %}{{ seoTitle }}{% endblock %}

{% block description %}{{ seoDescription }}{% endblock %}

{% block keyword %}{{ seoKeywords }}{% endblock %}

{% block javascript %}
    {% javascripts  
        '@ESCerMapBundle/Resources/public/js/box.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
        
{% block javascript_ready %}
    marker_pos('#menu_cer');
{% endblock %}

{% block content %}
    <section class="tab-content general no-padding box-light no-border shadow">
        {% include 'ESCerMapBundle:Coordinamento:box/breadcrumbs.html.twig' %}
        <section class="padding-10 clearfix">
        <h2 class="no-disp lay text-center margin-5">Seleziona il rifiuto (cer) desiderato</h2>
            {% include 'ESCerMapBundle:Coordinamento:box/cer.html.twig' %}
        </section>
    </section>
{% endblock %}
    
    


