<section class="left" style="width: 288px; margin-right: -288px;">
    <article class="lps-tab no-margin">
        <section class="tab-content-listing tab-content-lps" id="tab-cer">
            <h4 class="cer-class padding-3 rounded-3">Categoria</h4>
            <p class="padding-3">{{ categoria.categoria|capitalize }}</p>
        </section>
    </article>
</section>
