<section class="left" style="width: 288px; margin-right: -288px;">
    <article class="lps-tab no-margin">
        <section class="tab-content-listing tab-content-lps" id="tab-servizi">
            <h4 class="mps-class padding-3 rounded-3">Categoria</h4>
            <p class="padding-3">{{ categoria.nome|capitalize }} <small>({{ categoria.categoria|capitalize }}</small>)</p>
        </section>
    </article>
</section>