<ul class="corporate-menu">
    <li><a href="{{ path('webMarketingIntro') }}" >Introduzione al web-marketing</a></li>
    <li><a href="{{ path('marketingMix') }}" >Il marketing mix per il web</a></li>
    <li><a href="{{ path('seo') }}" >Seo (search engine optimization)</a></li>
    <li><a href="{{ path('sem') }}" >Sem (search engine marketing)</a></li>
</ul>